<md-content>
  <div layout="column" ng-show="global.status._id">
    <br>
    <form ng-submit="vm.createChirp()" layout layout-padding>
      <md-input-container flex="90">
        <label>Chirp!</label>
        <input type="text" ng-model="vm.chirp" />
      </md-input-container>
      <md-button type="submit" flex class="md-raised md-warn">Submit</md-button>
    </form>
    <md-divider />
    <br>
  </div>
  <div layout="column">
    <md-card>
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="c in vm.chirps">
          <div class="md-list-item-text" layout="column">
            <h3>{{ c.message }}</h3>
            <h4>{{ c.createdBy.local.email }}</h4>
            <p>{{ c.dateCreated | date:'medium' }}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-card>
  </div>
</md-content>
